/*-Body-*/
body{
	padding: 0rem 12rem;
	margin: 0;
	background-color: #F2F2F2;
	font-size: 1.1rem;
}
/*-Fundo da tela-*/
.fundo{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Imagens/fundo.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #191967;
  background-attachment: fixed;
}
/*-Menu do topo-*/
div.topo{
	display: block;
	background-color: #16A236;
	border-radius: 0px 0px 10px 10px;
    transition: all 200ms ease-out;
}
ul.nav{
	overflow: hidden;
}
div.topo img{
	height: 5rem;
}
div.topo li a{
	float: left;
	text-decoration: none;
	color: #263D2B;
	border-radius: 0px 0px 10px 10px;
}
div.topo h4{
  /*O primeiro é altura o segundo é largura*/
  padding: 1.35rem 2rem;
}
div.topo li a:hover{  
  background-color: #3EB458;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

div.topo li a#info:hover{  
  background-color: #3EB458;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
span.ativada h4{
  color: rgba(84, 84, 84, 0.5);
}
/*-conteudo-*/
.conteudo{
	padding: 1rem 1rem;
	background-color: white;
	border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
	word-spacing:-2px;
	overflow: auto;
}
div.conteudo img{
    width: 50%;
}
div.texto {
	width: 50%;
}
.verde{
	color: green;
}