/*-Body-*/
body{
	padding: 0rem 10rem;
	margin: 0;
	background-color: #F2F2F2;
	font-size: 1.1rem;
}
/*-Fundo da tela-*/
.fundo{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../Imagens/fundo.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #191967;
  background-attachment: fixed;
}
/*-Menu do topo-*/
div.topo{
	display: block;
	background-color: #1286E6;
    transition: all 200ms ease-out;
}
ul.nav{
	overflow: hidden;
}
div.topo img{
	padding: 10px 10px 10px 10px;
	height: 8rem;
}
div.topo li a{
	float: left;
	text-decoration: none;
	color: black;

}
div.topo h1{
  /*O primeiro é altura o segundo é largura*/
  padding: 2.25rem 2rem;
}
div.topo li a:hover{  
  background-color: #78BBF3;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

div.topo li a#info:hover{  
  background-color: #8C9FFA;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}
span.ativada h4{
  color: rgba(84, 84, 84, 0.5);
}
/*-conteudo-*/
.conteudo{
	padding: 1rem 1rem;
	background-color: white;
	word-spacing:-2px;
	overflow: hidden;
}
.bodi{	
	margin-top: -180px;
	padding: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center; 
}
.slider{
	width: 1000px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}

.slides{
width: 500%;
height: 500px;
display: flex;
}
.slides input{
display: none;
}
.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	width: 1000px;
	height: 500px;
}

.navigation-manual{
	position: absolute;
	display: flex;
	width: 1000px;
	margin-top: 470px;
	margin-top: flex;
	justify-content: center;
}
.manual-bnt{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s;
}

.manual-bnt:not(:last-child){
	margin-right: 10px;
}

.manual-bnt:hover{
	background: #40D3DC;
}

#radio1:checked ~ .first{
	margin-left: 0%; 
}

#radio2:checked ~ .first{
	margin-left: -20%; 
}

.navigation-auto{
	position: absolute;
	display: flex;
	width: 1000px;
	justify-content: center;
	margin-top: 470px;
}

.navigation-auto div{
	border: 2px solid #40D3DC;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}
.navigation-auto div:not(:last-child){
margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-bnt1{
	background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-bnt2{
	background: #40D3DC;
}

div.texto {
	margin-top: -120px;
	text-align: justify;
	width: 50%;
}
.verde{
	color: green;
}